# 依赖
node_modules/
.pnp
.pnp.js

# 测试
coverage/

# 生产构建
dist/
build/

# 环境变量
.env
.env.local
.env.*.local

# 日志
logs/
*.log
npm-debug.log*

# 系统文件
.DS_Store
*.swp
*.swo

# 临时文件
*.tmp
*.temp

# 上传文件
uploads/

# 数据库
*.db
*.sqlite
